@{
  Layout = "_Layout";
}

@model StrikeForce.Models.Lead

<h2>Are you sure you want to delete this lead?</h2>

<p>Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</p>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to all Leads", "Index") 